.idea
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
config/packages/doctrine.yaml
config/packages/doctrine_migrations.yaml
config/packages/prod/doctrine.yaml
config/packages/translation.yaml
src/DataFixtures/.gitignore
src/Entity/.gitignore
src/Migrations/
src/Repository/
translations/
node_modules/*
yarn.lock
public/build/*
bin/.phpunit/*