{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container js-user-module">
        <div class="row">

            <div class="col-sm-4">
                <a class="js-show-friends" href="#" data-id="{{ user_id }}">
                    Друзья <span class="fa"></span>
                </a>
                <div class="js-friends-template"></div>
            </div>

            <div class="col-sm-4">
                <a class="js-show-followers" href="#" data-id="{{ user_id }}">
                    Подписчики <span class="fa"></span>
                </a>
                <div class="js-followers-template"></div>
            </div>
        </div>
    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/appUser.js') }}"></script>

{% endblock  %}