{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container js-user-module">

        <a class="js-show-followers" href="#" data-id="{{ user_id }}">
            Подписчики
            <span class="fa"></span>
        </a>

        <div class="js-followers-template"></div>

        <hr>

        <a class="js-show-friends" href="#" data-id="{{ user_id }}">
            Друзья
            <span class="fa"></span>
        </a>

        <div class="js-friends-template"></div>

    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock  %}