{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.css" />

{% endblock %}

{% block body %}

    <div class="container js-rep-log-table">

        <div class="js-new-rep-log-form-wrapper">
            {{ include('/catalog/products_form.html.twig') }}
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th class="js-total-weight"></th>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.js"></script>
    <script src="{{ asset('build/product.js') }}"></script>

    <script>
        $(document).ready(function() {
            let $wrapper = $('.js-rep-log-table');
            let product = new Product($wrapper);
        });
    </script>

    <script type="text/template" id="js-rep-log-row-template">
        <tr data-weight="<%= price %>">
            <td><%= name %></td>
            <td><%= price %></td>
            <td></td>
            <td>
                <a href="#" class="js-delete" data-url="<%= self %>">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
    </script>

{% endblock %}
