{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container js-product-module">

        <div class="js-new-rep-log-form-wrapper">
            {{ include('/catalog/products_form.html.twig') }}
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th class="js-total-weight"></th>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock  %}
